.another-goods {
    padding-bottom: 83px;
}

.another-goods__title {
    @include font($accent-font-family, 21px, normal, 31px, #9C9C9C, none);
    margin-bottom: 71px;
}

.another-goods__content-block {
    @include flex(row, space-evenly);
    align-items: center;
}

.another-goods__control-left,
.another-goods__control-right {
    padding: 0;
    cursor: pointer;
}

.another-goods-switch {
    width: 18px;
    height: 35px;
}

.another-goods__list {
    @include flex(row, space-evenly);
    flex-wrap: wrap;
    padding: 0;
}

.another-goods__list-item {
    position: relative;
    margin-bottom: 30px;
    list-style: none;
    overflow: hidden;
}

.another-goods__text-block {
    position: absolute;
    bottom: 10px;
    left: -150px;
    @include font($accent-font-family, 15px, normal, 22px, $modal-text-color, none);
    transition: .5s;
}

.another-goods__list-title {
    margin-bottom: 0;
}

.another-goods__link:hover .another-goods__text-block {
    left: 11px;
}

.another-goods__link:focus .another-goods__text-block {
    left: 11px;
}

.another-goods__button {
    display: block;
    width: 270px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 14px;
    box-sizing: border-box; 
    @include font($main-font-family, 22px, normal, 29px, $main-text-color, none);
    text-align: center;
    text-decoration: none;
    border: 1px solid #000000;
    cursor: pointer;
}