extends includes/template.pug

block variables
	- var title = 'Blog'
	- var blogHtml = true

block content
	main.main-content
		include includes/blocks/market-headers.pug
		include includes/blocks/main-article.pug
		include includes/blocks/comments.pug
