extends includes/template.pug

block variables
	- var title = 'Cathalog'
	- var cathalogHtml = true

block content
	.main-wrapper
		include includes/blocks/cathegory-nav.pug
		include includes/blocks/cathalog.pug
		include includes/blocks/breadcrumbs.pug
