extends includes/template.pug

block variables
	- var title = 'ATEP.'
	- var indexHtml = true

block content
	include includes/blocks/main-slider.pug
	.main-wrapper
		include includes/blocks/about-us.pug
		include includes/blocks/another-goods.pug
	include includes/blocks/stock-slider.pug
	include includes/blocks/blog-main.pug