body {
	margin: 0;

	@include font($main-font-family, $main-font-size, normal, $main-line-height, $main-text-color, $main-color-background);
}

.main-wrapper {
	margin: 0 auto;
	width : $main-unit;
}

.logo__link {
	display        : block;

	padding        : 8.5px 25px;

	@include font(Baskerville Old Face, 2.267em, 500, 1, #000000, transparent);

	transform      : scaleX(1.04);
	text-decoration: none;
	letter-spacing : 0.7px;
	text-transform : uppercase;
}

.visually-hidden {
	position: absolute !important;

	overflow: hidden;
	clip    : rect(1px 1px 1px 1px);
	clip    : rect(1px, 1px, 1px, 1px);

	padding : 0 !important;
	width   : 1px !important;
	height  : 1px !important;

	border  : 0 !important;
}

.accessible {
	left: -9999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -9999;
	color: $main-text-color;
	text-decoration: none;
}

.accessible:focus {
	left: 0;
	top: 15px;
	width: auto;
	height: auto;
	overflow: auto;
	padding: 5px;
	text-align: center;
	z-index: 999;
}

.logo__link span {
	color: #ff0000;
}

.logo {
	position   : relative;

	&::after {
		position     : absolute;
		bottom       : 14.5px;
		left         : 111px;

		display      : block;

		width        : 8px;
		height       : 8px;

		content      : "";

		border-radius: 50%;
		background   : #ff0000;
	}
}

.main-slider {
	width     : 100%;
	height    : 768+538+788+944+695px;

	background: $main-slider-background;
}

.form-button {
	display: block;
	padding: 15px;
	border: none;
	border-radius: 5px;
	@include font($main-font-family, 1.067em, normal, $main-line-height, #ffffff, #000000);
}