include ../mixins.pug

section.about-us
			.about-us__preview
				.about-us__preview-content
					h1.about-us__title ABOUT US
					p.about-us__text
						| A style is not just about keeping up with the trending fashion or buying expensive clothes. The style is, in fact, a reflection of your own personality and inner mind and it has little to do with appearance. Being well-dressed doesn’t mean we have a style. It means you pay attention to your looks. But if others say they can see your style, it means you have a hallmark.
				a.about-us__img-link(href="#")
					.about-us__img-icon
						svg.about-us__icon(width='25' height='25')
							use(xlink:href='img/wx3/sprite.svg#icon-favorites')
						svg.about-us__icon(width='25' height='25')
							use(xlink:href='img/wx3/sprite.svg#icon-cart')
					+picture('about-us__img', 'image3.1')
					.about-us__img-text
						h4.about-us__img-title
							| Simple white clock
						span.about-us__img-price
							| $25.00
			.about-us__gallery
				a.about-us__img-link(href="#")
					.about-us__img-icon
						svg.about-us__icon(width='25' height='25')
							use(xlink:href='img/wx3/sprite.svg#icon-favorites')
						svg.about-us__icon(width='25' height='25')
							use(xlink:href='img/wx3/sprite.svg#icon-cart')
					+picture('about-us__img', 'image3.1')
					.about-us__img-text
						h4.about-us__img-title
							| Simple white clock
						span.about-us__img-price
							| $25.00
				a.about-us__img-link(href="#")
					.about-us__img-icon
						svg.about-us__icon(width='25' height='25')
							use(xlink:href='img/wx3/sprite.svg#icon-favorites')
						svg.about-us__icon(width='25' height='25')
							use(xlink:href='img/wx3/sprite.svg#icon-cart')
					+picture('about-us__img', 'image4')
					.about-us__img-text
						h4.about-us__img-title
							| Simple white clock
						span.about-us__img-price
							| $25.00
				a.about-us__img-link(href="#")
					.about-us__img-icon
						svg.about-us__icon(width='25' height='25')
							use(xlink:href='img/wx3/sprite.svg#icon-favorites')
						svg.about-us__icon(width='25' height='25')
							use(xlink:href='img/wx3/sprite.svg#icon-cart')
					+picture('about-us__img', 'image5')
					.about-us__img-text
						h4.about-us__img-title
							| Simple white clock
						span.about-us__img-price
							| $25.00