nav.cathalog__breadcrumbs
			a.cathalog__breadcrumbs-item.cathalog__breadcrumbs-item_active(href="#") 1
			a.cathalog__breadcrumbs-item(href="#") 2
			a.cathalog__breadcrumbs-item(href="#") 3
			a.cathalog__breadcrumbs-item(href="#") 4
			span ...
			a.cathalog__breadcrumbs-item(href="#") 14