.good_info__review_wrap.tab-block

	.good_info__review
		img.review_avatar(src='../img/wx3/review_avatar.svg')
		.review_rating
			+star('icon-rating')
			+star('icon-rating')
			+star('icon-rating')
			+star('icon-rating')
			+star('icon-rating_none')
		p.review_txt.
			Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie

		span.review_name Roche Petite - Fashion Designer

	.good_info__review
		img.review_avatar(src='../img/wx3/review_avatar.svg')
		.review_rating
			+star('icon-rating')
			+star('icon-rating')
			+star('icon-rating_none')
			+star('icon-rating_none')
			+star('icon-rating_none')
		p.review_txt.
			Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie

		span.review_name Roche Petite - Fashion Designer

	.good_info__review
		img.review_avatar(src='../img/wx3/review_avatar.svg')
		.review_rating
			+star('icon-rating')
			+star('icon-rating')
			+star('icon-rating')
			+star('icon-rating')
			+star('icon-rating')
		p.review_txt.
			Praesent volutpat ut nisl in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Etiam porttitor, lacus in luctus molestie

		span.review_name Roche Petite - Fashion Designer