include ../mixins.pug

.main-article.main-wrapper
	figure.blog-figure
		+picture('blog-figure__image', 'image14.1')
		figcaption.blog-figure__caption
			| It Is A Long Established Fact That A Reader Will
			br
			|  BY : ADMIN | 3 COMMENTS
	p.main-content__text-content
		| Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
	blockquote.main-content__blackquote
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore d aliqua. Ut enim ad minim veniam,
	p.main-content__text-content
		| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Contrary to popular belief.