include ../mixins.pug

#main-content.market-headers
	a.accessible.market-headers__accessible(href="#comments") Перейти к комментариям
	span.market-headers__title
		| On Salvatore Ferragamo’s New Chapter
		br
		| Homepage Fashion
		|   On Salvatore Ferragamo’s New Chapter