srction.profile__orders
	h2.profile__subtitle МОИ ЗАКАЗЫ
	span.profile__orders_txt Нет заказов в работе
	.profile__orders_good_wrap
		img(src='../img/wx1/image3.1_desk.webp').profile__orders_good_img
		.orders_good_txt_wrap
			span.profile__orders_good_name.profile__orders_good_txt Boys light blue jacket
			span.profile__orders_good_price.profile__orders_good_txt 1  х  $35.99

	.profile__orders_good_wrap
		img(src='../img/wx1/image3.1_desk.webp').profile__orders_good_img
		.orders_good_txt_wrap
			span.profile__orders_good_name.profile__orders_good_txt Boys light blue jacket
			span.profile__orders_good_price.profile__orders_good_txt 1  х  $35.99

	.profile__orders_good_wrap
		img(src='../img/wx1/image3.1_desk.webp').profile__orders_good_img
		.orders_good_txt_wrap
			span.profile__orders_good_name.profile__orders_good_txt Boys light blue jacket
			span.profile__orders_good_price.profile__orders_good_txt 1  х  $35.99