include ../mixins.pug

.stock-slider
	h2.visually-hidden Слайдер
	.stock-slider__item
		.stock-slider__text-block
			p.stock-slider__text Proin varius, libero at molestie lobortis
		button.control.stock-slider__control
			svg.right-arrow(width='24', height='40', viewBox='0 0 24 40', fill='none', xmlns='http://www.w3.org/2000/svg')
				path(d='M2 37.5L20 20L2 2.5', stroke='black', stroke-width='4.5')